@model Menu

<a asp-action="Index" asp-controller="Menu" class="btn btn-primary mb-4">Return</a>

<h1>Edit Menu</h1>

<form method="post" asp-action="Edit">
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="MenuID" />
    <button type="submit" class="btn btn-primary mt-2">Save</button>
</form>
